body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Baloo Bhai 2', cursive;
   

}
.left{
    /* border: 2px solid red; */
    display: inline-block;
    top: 20px;
    left: 20px;
    position: absolute;
    font-weight: bolder;
    font-size: 28px;

}
.mid{
    /* border: 2px solid red; */
    display: block;
    width: 33%; 
    margin: 0px auto;
}
.right{
    /* border: 2px solid red; */
    display: inline-block;
    right: 20px;
    top: 20px;
    position: absolute;
}
.container{
    height: 50px;
    background-color: white ;
    padding: 13px;
    opacity: 50%;

}
.section1{
    
    background-image: url(/img/daniel-apodaca-WdoQio6HPVA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    margin: 0px;
    font-weight: bold;
}
.navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 9px;
    font-size: x-large;
    font-weight: bold;

}
.navbar li a:hover{
   color:gray; 
}
.btn{
    /* font-size: larger; */
    font-weight:small;
    padding: 7px;
    margin: 5px 8px;
    border: none;
    border-radius: 20px;
    background-color: rgb(199, 208, 216);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(147, 156, 165);
}
.section2{
    color: aliceblue;
    position: absolute;
    margin: 120px 120px;
    padding: 20px 20px;
    border: 2px solid rgb(255, 255, 255);
    width: 33%;
    text-align: center;
    border-radius: 10px;
    /* opacity: 20%; */
    

}
input{
    margin: 15px 15px;
    padding: 10px ;
    border-radius: 10px;
}
label{
    font-size: 30px;
    font-weight: bold;
}
h2{

    font-weight: bolder;
    font-size: 30px;
}
button{
    border-radius: 5px;

}